<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team9.clip_loginhomecareer" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <user-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".NewUser"
            android:label="@string/title_activity_new_user"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.Login" />
        </activity>
        <activity
            android:name=".PasswordRecovery"
            android:label="@string/title_activity_password_recovery"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.Login" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".CareerHome"
            android:label="@string/title_activity_career_home"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.HomeScreen" />
        </activity>
        <activity
            android:name=".ContactList"
            android:label="@string/career_home_title"
            android:parentActivityName=".CareerHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.CareerHome" />
        </activity>
        <activity
            android:name=".JobList"
            android:label="@string/title_activity_job_list"
            android:parentActivityName=".CareerHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.CareerHome" />
        </activity>
        <activity
            android:name=".OnlineIdentList"
            android:label="@string/title_activity_online_ident_list"
            android:parentActivityName=".CareerHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.CareerHome" />
        </activity>
    </application>

</manifest>
