<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team9.clip_loginhomecareer" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/login_title"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".NewUser"
            android:label="@string/title_activity_new_user"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.Login" />
        </activity>
        <activity
            android:name=".PasswordRecovery"
            android:label="@string/title_activity_password_recovery"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.Login" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".CareerHome"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_career_home"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.HomeScreen" />
        </activity>
        <activity
            android:name=".ContactList"
            android:label="@string/title_activity_contact_list"
            android:parentActivityName=".CareerHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.CareerHome" />
        </activity>
        <activity
            android:name=".JobSearchList"
            android:label="@string/title_activity_job_list"
            android:parentActivityName=".CareerHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.CareerHome" />
        </activity>
        <activity
            android:name=".IdentitiesList"
            android:label="@string/title_activity_online_ident_list"
            android:parentActivityName=".CareerHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.CareerHome" />
        </activity>
        <activity
            android:name=".CareerGoalsList"
            android:label="@string/title_activity_future_goals"
            android:parentActivityName=".CareerHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.CareerHome" />
        </activity>
        <activity
            android:name=".NewCareerGoal"
            android:label="@string/title_activity_new_future_goal"
            android:parentActivityName=".CareerGoalsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CareerGoalsList" />
        </activity>
        <activity
            android:name=".ViewCareerGoal"
            android:label="@string/title_activity_view_future_goal"
            android:parentActivityName=".CareerGoalsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CareerGoalsList" />
        </activity>
        <activity
            android:name=".ViewContact"
            android:label="@string/title_activity_view_contact"
            android:parentActivityName=".ContactList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.ContactList" />
        </activity>
        <activity
            android:name=".NewContact"
            android:label="@string/title_activity_new_contact"
            android:parentActivityName=".ContactList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.ContactList" />
        </activity>
        <activity
            android:name=".ViewIdentity"
            android:label="@string/title_activity_view_identity"
            android:parentActivityName=".IdentitiesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IdentitiesList" />
        </activity>
        <activity
            android:name=".NewIdentity"
            android:label="@string/title_activity_new_identity"
            android:parentActivityName=".IdentitiesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IdentitiesList" />
        </activity>
        <activity
            android:name=".ViewJobSearch"
            android:label="@string/title_activity_view_job_search"
            android:parentActivityName=".JobSearchList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.JobSearchList" />
        </activity>
        <activity
            android:name=".NewJobSearch"
            android:label="@string/title_activity_new_job_search"
            android:parentActivityName=".JobSearchList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.JobSearchList" />
        </activity>
        <activity
            android:name=".DayView"
            android:label="@string/title_activity_day_view"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.HomeScreen" />
        </activity>
        <activity
            android:name=".EduMain"
            android:label="@string/title_activity_edu_main"
            android:logo="@mipmap/ic_launcher"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.HomeScreen" />
        </activity>
        <activity
            android:name=".HealthHomePage"
            android:label="@string/title_activity_health_home_page"
            android:logo="@mipmap/ic_launcher"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.HomeScreen" />
        </activity>
        <activity
            android:name=".DoctorsVisits"
            android:label="@string/title_activity_doctors_visits"
            android:parentActivityName=".HealthHomePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.HealthHomePage" />
        </activity>
        <activity
            android:name=".WeightLossAndDietPlan"
            android:label="@string/title_activity_weight_loss_and_diet_plan"
            android:parentActivityName=".HealthHomePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.HealthHomePage" />
        </activity>
        <activity
            android:name=".MedicalReport"
            android:label="@string/title_activity_medical_report"
            android:parentActivityName=".HealthHomePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.HealthHomePage" />
        </activity>
        <activity
            android:name=".AppointmentsList"
            android:label="@string/title_activity_appointments_list"
            android:parentActivityName=".DoctorsVisits" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.DoctorsVisits" />
        </activity>
        <activity
            android:name=".NewAppointment"
            android:label="New Appointment"
            android:parentActivityName=".AppointmentsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.AppointmentsList" />
        </activity>
        <activity
            android:name=".ViewAppointment"
            android:label="View Appointment"
            android:parentActivityName=".AppointmentsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppointmentsList" />
        </activity>
        <activity
            android:name=".MedicationsList"
            android:label="@string/title_activity_medications_list"
            android:parentActivityName=".DoctorsVisits" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.DoctorsVisits" />
        </activity>
        <activity
            android:name=".Medication"
            android:label="@string/title_activity_medication"
            android:parentActivityName=".MedicationsList" >
        </activity>
        <activity
            android:name=".ExercisePlansList"
            android:label="@string/title_activity_exercise_plans_list"
            android:parentActivityName=".WeightLossAndDietPlan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.WeightLossAndDietPlan" />
        </activity>
        <activity
            android:name=".ViewExercisePlan"
            android:label="View Exercise Plan"
            android:parentActivityName=".ExercisePlansList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExercisePlansList" />
        </activity>
        <activity
            android:name=".NewExercisePlan"
            android:label="New Exercise Plan"
            android:parentActivityName=".ExercisePlansList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.ExercisePlansList" />
        </activity>
        <activity
            android:name=".HealthRecipes"
            android:label="@string/title_activity_health_recipes"
            android:parentActivityName=".HealthyRecipesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.HealthyRecipesList" />
        </activity>
        <activity
            android:name=".HealthyRecipesList"
            android:label="@string/title_activity_healthy_recipes_list"
            android:parentActivityName=".WeightLossAndDietPlan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.WeightLossAndDietPlan" />
        </activity>
        <activity
            android:name=".DegreesList"
            android:label="@string/title_activity_degrees_list"
            android:parentActivityName=".EduMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.EduMain" />
        </activity>
        <activity
            android:name=".FinanceHome"
            android:label="@string/title_activity_finance_home"
            android:logo="@mipmap/ic_launcher"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.HomeScreen" />
        </activity>
        <activity
            android:name=".FinanceCashView"
            android:label="@string/title_activity_finance_cash_view"
            android:parentActivityName=".FinanceStateView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceStateView" />
        </activity>
        <activity
            android:name=".FinanceCashNew"
            android:label="@string/title_activity_finances_cash_new"
            android:parentActivityName=".FinanceCashView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceCashView" />
        </activity>
        <activity
            android:name=".FinanceAssetView"
            android:label="@string/title_activity_finance_assets_view"
            android:parentActivityName=".FinanceStateView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceStateView" />
        </activity>
        <activity
            android:name=".FinanceAssetNew"
            android:label="@string/title_activity_finance_asset_new"
            android:parentActivityName=".FinanceAssetView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceAssetView" />
        </activity>
        <activity
            android:name=".FinanceLiabilityView"
            android:label="@string/title_activity_finance_liability_view"
            android:parentActivityName=".FinanceStateView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceStateView" />
        </activity>
        <activity
            android:name=".FinanceLiabilityNew"
            android:label="@string/title_activity_finance_liability_new"
            android:parentActivityName=".FinanceLiabilityView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceLiabilityView" />
        </activity>
        <activity
            android:name=".FinanceCreditView"
            android:label="@string/title_activity_finance_credit_balance_view"
            android:parentActivityName=".FinanceStateView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceStateView" />
        </activity>
        <activity
            android:name=".FinanceCreditNew"
            android:label="@string/title_activity_finance_credit_new"
            android:parentActivityName=".FinanceCreditView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceCreditView" />
        </activity>
        <activity
            android:name=".FinanceStateView"
            android:label="@string/title_activity_finance_state_view"
            android:parentActivityName=".FinanceHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceHome" />
        </activity>
        <activity
            android:name=".FinanceOtherView"
            android:label="@string/title_activity_finance_other_view"
            android:parentActivityName=".FinanceStateView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceStateView" />
        </activity>
        <activity
            android:name=".FinanceStockSecurityView"
            android:label="@string/title_activity_finance_stock_security_view"
            android:parentActivityName=".FinanceHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceHome" />
        </activity>
        <activity
            android:name=".FinanceStockSecurityNew"
            android:label="@string/title_activity_finance_stock_security_new"
            android:parentActivityName=".FinanceStockSecurityView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceStockSecurityView" />
        </activity>
        <activity
            android:name=".FinanceGoalView"
            android:label="@string/title_activity_finance_goal_view"
            android:parentActivityName=".FinanceHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceHome" />
        </activity>
        <activity
            android:name=".new_degree_activity"
            android:label="@string/title_activity_new_degree_activity"
            android:parentActivityName=".DegreesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.DegreesList" />
        </activity>
        <activity
            android:name=".FinanceSummaryView"
            android:label="@string/title_activity_finance_summary_view"
            android:parentActivityName=".FinanceHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceHome" />
        </activity>
        <activity
            android:name=".FinanceGoalNew"
            android:label="@string/title_activity_finance_goal_new"
            android:parentActivityName=".FinanceGoalView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceGoalView" />
        </activity>
        <activity
            android:name=".FinanceOtherNew"
            android:label="@string/title_activity_finance_other_new"
            android:parentActivityName=".FinanceOtherView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.FinanceOtherView" />
        </activity>
        <activity
            android:name=".CollegeAppsList"
            android:label="@string/title_activity_edu_apps_list"
            android:parentActivityName=".EduMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.EduMain" />
        </activity>
        <activity
            android:name=".EduNewApp"
            android:label="New Application"
            android:parentActivityName=".CollegeAppsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.CollegeAppsList" />
        </activity>
        <activity
            android:name=".EducationFinancesList"
            android:label="Education Finances"
            android:parentActivityName=".EduMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.EduMain" />
        </activity>
        <activity
            android:name=".EduNewFinance"
            android:label="New Finance Item"
            android:parentActivityName=".EducationFinancesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.EducationFinancesList" />
        </activity>
        <activity
            android:name=".ViewDegree"
            android:label="Degree Details"
            android:parentActivityName=".DegreesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.DegreesList" />
        </activity>
        <activity
            android:name=".ViewAppl"
            android:label="@string/title_activity_view_appl"
            android:parentActivityName=".CollegeAppsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.CollegeAppsList" />
        </activity>
        <activity
            android:name=".ViewEduFinance"
            android:label="@string/title_activity_view_edu_finance"
            android:parentActivityName=".EducationFinancesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team9.clip_loginhomecareer.EducationFinancesList" />
        </activity>
    </application>

</manifest>
